<?xml version="1.0"?>
<launch>

<arg name = "robot_name" default="tiago"/>
<arg name="bp_results" default="false"/>

<include file="$(find $(arg robot_name)_moveit_config)/launch/demo.launch">
    <arg name="rviz" value="false"/>  
</include>


<!--Running RVIZ for base_placement-->
<include file="$(find base_placement_plugin)/launch/base_placement.launch">
    <arg name="bp_results" value="false"/>  
</include>

<!--TIAGo specific requirements - delete or comment out if not needed-->
<node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom" />
<node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_base_footprint" args="0 0 0 0 0 0 odom base_footprint" />


</launch>
